<%- include('./includes/header.ejs') %>
<%- include('./includes/navbar.ejs') %>
<!-- Hero Section Begin -->
<section class="hero-section">
    <div class="hero-items owl-carousel">
        <div class="single-hero-items set-bg" data-setbg="/client/img/hero-1.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-lg-5">
                        <!-- <span>Bag,kids</span> -->
                        <h1>Welcome To RwandaTradesIn</h1>
                        <p>An Online shop To Suffice For All Your Needs</p>
                    </div>
                </div>
                <!-- <div class="off-card">
                    <h2>Sale <span>50%</span></h2>
                </div> -->
            </div>
        </div>
        <div class="single-hero-items set-bg" data-setbg="/client/img/hero-2.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-lg-5">
                        <span>Kids</span>
                        <h1>Looking For Items For Your Kids?</h1>
                        <p>Don't Miss Out On Fresh Deals, Find New Various Items That Your Kids Will Love </p>
                        <a href="#" class="primary-btn">Shop Now</a>
                    </div>
                </div>
                <!-- <div class="off-card">
                    <h2>Sale <span>50%</span></h2>
                </div> -->
            </div>
        </div>
    </div>
</section>
<!-- Hero Section End -->

<!-- Banner Section Begin -->
<div class="banner-section spad">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4">
                <div class="single-banner">
                    <img src="/client/img/banner-1.jpg" alt="">
                    <div class="inner-text">
                        <h4>Men’s</h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="single-banner">
                    <img src="/client/img/banner-2.jpg" alt="">
                    <div class="inner-text">
                        <h4>Women’s</h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="single-banner">
                    <img src="/client/img/banner-3.jpg" alt="">
                    <div class="inner-text">
                        <h4>Kid’s</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Banner Section End -->

<!-- Women Banner Section Begin -->
<section class="women-banner spad">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3">
                <div class="product-large set-bg" data-setbg="/client/img/products/women-large.jpg">
                    <h2>Women’s</h2>
                    <a href="/categories/name/Women's Clothes">Discover More</a>
                </div>
            </div>
            <div class="col-lg-8 offset-lg-1">
                <div class="filter-control">
                    <ul>
                        <!-- <li class="active">Clothings</li>
                        <li>HandBag</li>
                        <li>Shoes</li>
                        <li>Accessories</li> -->
                    </ul>
                </div>
                <div class="product-slider owl-carousel">
                    <% for(let womenProduct of womenProducts){  %>
                    <div class="product-item">
                        <div class="pi-pic">
                            <img style="height: 400px;" src="<%=womenProduct.mainPicture%>"
                                alt="<%=womenProduct.name%>">
                            <!-- <div class="sale">Sale</div> -->
                            <div class="icon">
                                <i class="icon_heart_alt"></i>
                            </div>
                            <ul>
                                <li class="w-icon active"><a href="#"><i class="icon_bag_alt"></i></a></li>
                                <li class="quick-view"><a href="/products/<%=womenProduct._id%>">+ Quick View</a>
                                <li class="w-icon"><a href="#"><i class="fa fa-random"></i></a></li>
                            </ul>
                        </div>
                        <div class="pi-text">
                            <div class="catagory-name"><%=womenProduct.category.name%></div>
                            <a href="#">
                                <h5><%=womenProduct.name%></h5>
                            </a>
                            <div class="product-price">
                                <%=womenProduct.currency%> <%=womenProduct.price%>
                                <!-- <span>$35.00</span> -->
                            </div>
                        </div>
                    </div>
                    <% } %>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Women Banner Section End -->


<!-- Man Banner Section Begin -->
<section class="man-banner spad">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-8">
                <div class="filter-control">
                    <ul>
                        <!-- <li class="active">Clothings</li>
                        <li>HandBag</li>
                        <li>Shoes</li>
                        <li>Accessories</li> -->
                    </ul>
                </div>
                <div class="product-slider owl-carousel">
                    <% for(let menProduct of menProducts){  %>
                    <div class="product-item">
                        <div class="pi-pic">
                            <img style="height: 400px;" src="<%=menProduct.mainPicture%>" alt="<%=menProduct.name%>">
                            <!-- <div class="sale">Sale</div> -->
                            <div class="icon">
                                <i class="icon_heart_alt"></i>
                            </div>
                            <ul>
                                <li class="w-icon active"><a href="#"><i class="icon_bag_alt"></i></a></li>
                                <li class="quick-view"><a href="#">+ Quick View</a></li>
                                <li class="w-icon"><a href="#"><i class="fa fa-random"></i></a></li>
                            </ul>
                        </div>
                        <div class="pi-text">
                            <div class="catagory-name"><%=menProduct.category.name%></div>
                            <a href="#">
                                <h5><%=menProduct.name%></h5>
                            </a>
                            <div class="product-price">
                                <%=menProduct.currency%> <%=menProduct.price%>
                                <!-- <span>$35.00</span> -->
                            </div>
                        </div>
                    </div>
                    <% } %>
                </div>
            </div>
            <div class="col-lg-3 offset-lg-1">
                <div class="product-large set-bg m-large" data-setbg="/client/img/products/man-large.jpg">
                    <h2>Men’s</h2>
                    <a href="#">Discover More</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Man Banner Section End -->

<!-- Instagram Section Begin -->
<!-- <div class="instagram-photo">
    <div class="insta-item set-bg" data-setbg="/client/img/insta-1.jpg">
        <div class="inside-text">
            <i class="ti-instagram"></i>
            <h5><a href="#">colorlib_Collection</a></h5>
        </div>
    </div>
    <div class="insta-item set-bg" data-setbg="/client/img/insta-2.jpg">
        <div class="inside-text">
            <i class="ti-instagram"></i>
            <h5><a href="#">colorlib_Collection</a></h5>
        </div>
    </div>
    <div class="insta-item set-bg" data-setbg="/client/img/insta-3.jpg">
        <div class="inside-text">
            <i class="ti-instagram"></i>
            <h5><a href="#">colorlib_Collection</a></h5>
        </div>
    </div>
    <div class="insta-item set-bg" data-setbg="/client/img/insta-4.jpg">
        <div class="inside-text">
            <i class="ti-instagram"></i>
            <h5><a href="#">colorlib_Collection</a></h5>
        </div>
    </div>
    <div class="insta-item set-bg" data-setbg="/client/img/insta-5.jpg">
        <div class="inside-text">
            <i class="ti-instagram"></i>
            <h5><a href="#">colorlib_Collection</a></h5>
        </div>
    </div>
    <div class="insta-item set-bg" data-setbg="/client/img/insta-6.jpg">
        <div class="inside-text">
            <i class="ti-instagram"></i>
            <h5><a href="#">colorlib_Collection</a></h5>
        </div>
    </div>
</div> -->
<!-- Instagram Section End -->

<%- include('./includes/footer.ejs') %>