<%- include('./includes/header.ejs') %>
<%- include('./includes/navbar.ejs') %>
<!-- Breadcrumb Section Begin -->
<div class="breacrumb-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-text">
                    <a href="#"><i class="fa fa-home"></i> Home</a>
                    <span>Shop</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb Section Begin -->

<!-- Product Shop Section Begin -->
<section class="product-shop spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-8 order-2 order-lg-1 produts-sidebar-filter">

            </div>
            <div class="col-lg-9 order-1 order-lg-2">
                <div class="product-show-option">
                    <div class="row">
                        <div class="col-lg-7 col-md-7">
                            <p>Page <%= currentPage %> of <%= pages %> </p>
                        </div>
                        <div class="col-lg-5 col-md-5 text-right">
                            <p><%= numOfResults %> Product(s)</p>
                        </div>
                    </div>
                </div>
                <div class="product-list">
                    <div class="row">
                        <% for(let product of products){  %>
                        <div class="col-5 col-xs-3 col-sm-3 col-md-3 col-lg-4">
                            <div class="product-item">
                                <div class="pi-pic">
                                    <img class="responsive" src="<%=product.mainPicture%>" alt="">
                                    <!-- <div class="sale pp-sale">Sale</div> -->
                                    <div class="icon">
                                        <i class="icon_heart_alt"></i>
                                    </div>
                                    <ul>
                                        <li class="w-icon active"><a href="#"><i class="icon_bag_alt"></i></a></li>
                                    </ul>
                                </div>
                                <div class="pi-text">
                                    <div class="catagory-name"><%=product.category.name%></div>
                                    <a href="#">
                                        <h5><%=product.name%></h5>
                                    </a>
                                    <div class="product-price">
                                        <%=product.currency%> <%=product.price%>
                                        <!-- <span>$35.00</span> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <% }  %>
                    </div>
                </div>
                <!-- PAGINATION -->
                <center>
                    <%if(typeof products !=="undefined" && products.length > 0){%>
                    <div class="pagination">
                        <% if (currentPage !== 1 && currentPage <= pages) { %>
                        <a href="/categories/<%= categoryId %>/<%= parseInt(currentPage) - 1 %>">
                            &laquo;
                        </a>
                        <%}%>
                                        <% for (var i = 1; i <= currentPage;  i++ ) { %>
                        <a href="/categories/<%= categoryId %>/<%= i %>" <% if(currentPage == i) {%>class="active"
                            <% } %>><%= i %></a>
                        <% } %>
                        <% if ( pages > 1 && currentPage !== pages) { %>
                        <a href="/categories/<%= categoryId %>/<%= parseInt(currentPage) + 1 %>">
                            &raquo;
                        </a>
                        <% } %>
                        <% } %>
                    </div>
                </center>
                <!-- <div class="loading-more">
                    <i class="icon_loading"></i>
                    <a href="#">
                        Loading More
                    </a>
                </div> -->
                <!-- </div> -->
            </div>
        </div>
</section>
<!-- Product Shop Section End -->
<%- include('./includes/footer.ejs') %>