<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Fashi Template">
    <meta name="keywords" content="Fashi, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>RwandaTradesIn</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Muli:300,400,500,600,700,800,900&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="/client/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/client/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="/client/css/themify-icons.css" type="text/css">
    <link rel="stylesheet" href="/client/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="/client/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="/client/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="/client/css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="/client/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="/client/css/style.css" type="text/css">
    <link rel="stylesheet" href="/client/css/custom.css" type="text/css">

    <!-- PRODUCT ITEM SAMPLE -->
    <!-- animate CSS -->
    <link rel="stylesheet" href="/client/product_item/css/animate.css">
    <!-- owl carousel CSS -->
    <link rel="stylesheet" href="/client/product_item/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/client/product_item/css/lightslider.min.css">
    <!-- font awesome CSS -->
    <link rel="stylesheet" href="/client/product_item/css/all.css">
    <!-- flaticon CSS -->
    <link rel="stylesheet" href="/client/product_item/css/flaticon.css">
    <link rel="stylesheet" href="/client/product_item/css/themify-icons.css">
    <!-- font awesome CSS -->
    <link rel="stylesheet" href="/client/product_item/css/magnific-popup.css">
    <!-- style CSS -->
    <link rel="stylesheet" href="/client/product_item/css/style.css">
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>
    <!-- Header Section Begin -->
    <header class="header-section">
        <div class="header-top">
            <div class="container">
                <div class="ht-left">
                    <div class="mail-service">
                        <i class=" fa fa-envelope"></i>
                        help.desk@rwandatradesin.com
                    </div>
                    <div class="phone-service">
                        <i class=" fa fa-phone"></i>
                        +250 780 000 000
                    </div>
                </div>
                <div class="ht-right">
                    <div class="top-social">
                        <a href="#"><i class="ti-facebook"></i></a>
                        <a href="#"><i class="ti-twitter-alt"></i></a>
                        <a href="#"><i class="ti-linkedin"></i></a>
                        <a href="#"><i class="ti-pinterest"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="inner-header">
                <div class="row">
                    <div class="col-lg-4 col-md-4">
                        <div class="logo">
                            <a href="/">
                                <img src="/client/img/logo.png" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-5 col-md-5">
                        <form action="/products/search" method="post">
                            <div class="advanced-search">
                                <span class="category-btn">Search</span>
                                <div class="input-group">
                                    <input type="text" name="searchQuery" placeholder="What do you need?">
                                    <button type="sumbit"><i class="ti-search"></i></button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-lg-3 text-right col-md-3">
                        <ul class="nav-right">
                            <span>.</span>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div id="navbar" class="nav-item">
            <div class="container">
                <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                    <span class="navbar-brand" href="/"><img style="width: 80px;" src="/client/img/logo-no-text.png"
                            alt=""></span>
                    <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Departments
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <% if(!categories || categories.length === 0){ %>
                                    <a class="dropdown-item" href="#">No categories yet</a>
                                    <% } else { %>
                                    <% for(var i = 0; i < (categories.length > 10 ? 10 : categories.length); i++) {%>
                                    <a class="dropdown-item"
                                        href="/categories/<%=categories[i]._id%>"><%=categories[i].name%></a>
                                    <% } %>
                                    <% if(categories.length > 10){ %>
                                    <a class="dropdown-item" href="/categories"> + See more categories</a>
                                    <% } %>
                                    <% } %>
                                </div>
                            </li>
                            <li class="nav-item active">
                                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/contact-us">Contact Us</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </header>
    <!-- Header End -->
    <!-- Breadcrumb Section Begin -->
    <div class="breacrumb-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb-text">
                        <a href="#"><i class="fa fa-home"></i> Home</a>
                        <span>Shop</span>
                        <span><%= foundProduct.name %></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb Section End -->


    <!--================Single Product Area =================-->
    <div class="product_image_area section_padding">
        <div class="container">
            <%if(messages.success){%>
            <div class="alert alert-success alert-dismissible">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <strong>Success:</strong> <%- messages.success %>
            </div>
            <%} else if(messages.error){%>
            <div class="alert alert-error alert-dismissible">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <strong>Oops:</strong> <%- messages.error %>
            </div>
            <%}%>
            <div class="row s_product_inner">
                <div class="col-lg-5">
                    <div class="product_slider_img">
                        <div id="vertical">
                            <div data-thumb="<%= foundProduct.mainPicture %>">
            <img class="responsive" src="<%= foundProduct.mainPicture %>" />
        </div>
        <div data-thumb="<%= foundProduct.secondPicture %>">
            <img class="responsive" src="<%= foundProduct.secondPicture %>" />
        </div>
        <div data-thumb="<%= foundProduct.thirdPicture %>">
            <img class="responsive" src="<%= foundProduct.thirdPicture %>" />
        </div>
        <div data-thumb="<%= foundProduct.fourthPicture %>">
            <img class="responsive" src="<%= foundProduct.fourthPicture %>" />
        </div>
    </div>
    </div>
    </div>
    <div class="col-lg-5 offset-lg-1">
        <div class="s_product_text">
            <h3><%= foundProduct.name %></h3>
            <h2><%= foundProduct.currency %> <%= foundProduct.price %>.00</h2>
            <ul class="list">
                <li>
                    <a class="active" href="/categories/<%= foundProduct.category._id %>">
                        <span>Category</span> : <%= foundProduct.category.name %>
                    </a>
                </li>
                <li>
                    <a href="#"> <span>Availibility</span> : In Stock</a>
                </li>
            </ul>
            <p><%= foundProduct.description %></p>
            <div class="card_area">
                <div class="product_count d-inline-block">
                    <span class="inumber-decrement"> <i class="ti-minus"></i></span>
                    <input class="input-number" type="text" value="1" min="0" max="10">
                    <span class="number-increment"> <i class="ti-plus"></i></span>
                </div>
                <!-- Button trigger modal -->

                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
                    aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Request For A
                                    <%= foundProduct.name %></h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <form method="POST" action="/product-requests/<%= foundProduct._id %>">
                                <div class="modal-body">
                                    <h6>Kindly Fill In Your Details & We'll get back to you as soon as
                                        possible
                                    </h6>
                                    <br>
                                    <div class="form-group">
                                        <label for="client-names">Your Full Names</label>
                                        <input type="name" name="clientNames" class="form-control" id="client-names"
                                            placeholder="i.e: John Doe">
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label for="client-phone-number">Your Phone Number</label>
                                                <input type="number" name="phoneNumber" class="form-control"
                                                    id="client-phone-number" placeholder="i.e: +250 780 000 000">
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label for="client-email">Your email address</label>
                                                <input type="email" name="email" class="form-control" id="client-email"
                                                    placeholder="i.e: john.doe@gmail.com">
                                            </div>
                                            <input type="hidden" name="quantity" id="input" class="form-control"
                                                value="1">
                                            <input type="hidden" name="product" id="input" class="form-control"
                                                value="<%= foundProduct._id %>">
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="submit" class="btn_3">Place Request</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="add_to_cart">
                    <a href="#" data-toggle="modal" data-target="#exampleModal" class="btn_3">Place
                        Request</a>
                    <a href="#" class="like_us"> <i class="ti-heart"></i> </a>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
    </div>
    <!--================End Single Product Area =================-->


    <!-- product_list part start-->
    <%if(typeof similarProducts !== 'undefined' && similarProducts.length > 0){%>
    <section class="product_list best_seller padding_bottom">
        <div class="container">
            <hr>
            <br>
            <div class="row justify-content-center">
                <div class="col-lg-12">
                    <div class="section_tittle text-center">
                        <h2>Similar Products</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <% similarProducts.forEach(function(product){ %>
                <% if(!product._id.equals(foundProduct._id) ){ %>
                <div class="col-lg-3 col-sm-6">
                    <div class="single_category_product">
                        <div class="single_category_img">
                            <img class="responsive" src="<%= product.mainPicture %>" alt="">
                            <div class="category_social_icon">
                                <ul>
                                    <li><a href="/products/<%= product._id %>"><i class="ti-list"></i></a></li>
                                </ul>
                            </div>
                            <div class="category_product_text">
                                <a href="/products/<%= product._id %>">
                                    <h5><%= product.name %></h5>
                                </a>
                                <p><%= product.currency %> <%= product.price %>.00</p>
                            </div>
                        </div>
                    </div>
                </div>
                <%}%>
                                <% }) %>
            </div>
        </div>
    </section>
    <%}%>
    <!-- product_list part end-->

    <!-- Product Shop Section Begin -->
    <!-- <section class="product-shop spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-8 order-2 order-lg-1 produts-sidebar-filter">

                </div>
                <div class="col-lg-9 order-1 order-lg-2">
                    <div class="product-show-option">
                        <div class="row">
                            <div class="col-lg-7 col-md-7">

                            </div>
                            <div class="col-lg-5 col-md-5 text-right">
                                <p>Page 1 Of 12 Product</p>
                            </div>
                        </div>
                    </div>
                    <div class="product-list">
                        <div class="row">

                        </div>
                    </div>
                    <!-- PAGINATION -->
    <!-- <center> -->

    <!-- </center> -->
    <!-- <div class="loading-more">
                    <i class="icon_loading"></i>
                    <a href="#">
                        Loading More
                    </a>
                </div> -->
    <!-- </div> -->
    </div>
    </div>
    </section> -->
    <!-- jquery plugins here-->
    <script src="/client/product_item/js/jquery-1.12.1.min.js"></script>
    <!-- popper js -->
    <script src="/client/product_item/js/popper.min.js"></script>
    <!-- bootstrap js -->
    <script src="/client/product_item/js/bootstrap.min.js"></script>
    <!-- easing js -->
    <script src="/client/product_item/js/jquery.magnific-popup.js"></script>
    <!-- swiper js -->
    <script src="/client/product_item/js/lightslider.min.js"></script>
    <!-- swiper js -->
    <script src="/client/product_item/js/mixitup.min.js"></script>
    <script src="/client/product_item/js/lightslider.min.js"></script>
    <!-- particles js -->
    <script src="/client/product_item/js/owl.carousel.min.js"></script>
    <script src="/client/product_item/js/jquery.nice-select.min.js"></script>
    <!-- slick js -->
    <script src="/client/product_item/js/slick.min.js"></script>
    <script src="/client/product_item/js/jquery.counterup.min.js"></script>
    <script src="/client/product_item/js/waypoints.min.js"></script>
    <script src="/client/product_item/js/contact.js"></script>
    <script src="/client/product_item/js/jquery.ajaxchimp.min.js"></script>
    <script src="/client/product_item/js/jquery.form.js"></script>
    <script src="/client/product_item/js/jquery.validate.min.js"></script>
    <script src="/client/product_item/js/mail-script.js"></script>
    <!-- custom js -->
    <script src="/client/product_item/js/custom.js"></script>
    <script src="/client/js/custom.js"></script>
    <!-- Product Shop Section End -->
    <%- include('./includes/footer.ejs') %>