<%- include('../../includes/header.ejs') %>
<%- include('../../includes/navbar.ejs') %>
<div class="main-panel">
    <div class="content-wrapper">
        <div class="page-header">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/admin/categories">Categories</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Add a New Category</li>
                </ol>
            </nav>
        </div>
        <div class="row">
            <div class="col-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Add A New Category</h4>
                        <form class="forms-sample" action="/admin/categories/new" method="post">
                            <div class="form-group">
                                <label>Name</label>
                                <input type="text" class="form-control" name="name" placeholder="Name"
                                    value="<%= typeof previousInput != 'undefined'? previousInput.name: '' %>">
                            </div>
                            <%if(typeof error != 'undefined'){%>
                            <div class="alert alert-danger alert-dismissible">
                                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                <strong>Error:</strong> <%= error %>
                            </div>
                            <%}%>
                            <button type="submit" class="btn btn-block btn-primary mr-2">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%- include('../../includes/footer.ejs') %>