<%- include('../../includes/header.ejs') %>
<%- include('../../includes/navbar.ejs') %>
<div class="main-panel">
    <div class="content-wrapper">
        <div class="page-header">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/admin/products">Product Requests</a></li>
                    <li class="breadcrumb-item active" aria-current="page">View All Products Requests</li>
                </ol>
            </nav>
        </div>
        <div class="row">
            <div class="col-lg-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <%if(messages.success){%>
                        <div class="alert alert-success alert-dismissible">
                            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                            <strong>Success:</strong> <%- messages.success %>
                        </div>
                        <%}%>
                        <%if(messages.error){%>
                        <div class="alert alert-warning alert-dismissible">
                            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                            <strong>Error:</strong> <%- messages.error %>
                        </div>
                        <%}%>
                        <br>
                        <h1 class="card-title">All Product Requests</h1>
                        <table class="table table-bordered" id="order-listing">
                            <thead>
                                <tr>
                                    <th> # </th>
                                    <th> Product Img </th>
                                    <th> Product Details / Status </th>
                                    <th> Client </th>
                                    <th> Operations </th>
                                </tr>
                            </thead>
                            <tbody>
                            <% productRequests.forEach(function(productRequest, key){ %>
                        <tr>
                            <td> <%=key+1 %> </td>
                            <td><img src="<%= productRequest.product.mainPicture %>"
                                    alt="<%= productRequest.product.name %>"></td>
                            <td>
                                <%if(productRequest.status === "ACCEPTED"){%>
                                <span><i style="color:#03fc28"
                                        class="mdi mdi-checkbox-marked-circle-outline"></i></span>
                                <%}%>

                                <%if(productRequest.status === "REJECTED"){%>
                                <span><i style="color:#fc2403" class="mdi mdi-close-circle-outline"></i></span>
                                <%}%>

                                <%if(productRequest.status === "PENDING"){%>
                                <span><i style="color:#fcce03" class="mdi mdi-pause-circle-outline"></i></span>
                                <%}%>

                                <%=productRequest.product.name%>
                                <%=productRequest.product.currency%>
                                <%=productRequest.product.price%> %>
                                <!-- </a> -->
                            </td>
                            <td>Names: <%=productRequest.clientNames%> <br /><br /> Email: <%=productRequest.email%>
                                <br /><br /> Phone: <%=productRequest.phoneNumber%>
                            </td>
                            <td>
                                <div class="row">
                                    <%if(productRequest.status !== "ACCEPTED"){%>
                                    <a class="col-lg-5 badge badge-success"
                                        href="/admin/product-requests/<%=productRequest._id%>/change-status?status=ACCEPTED">
                                        <i class="mdi mdi-checkbox-marked-circle-outline"></i>
                                    </a>
                                    <div class="col-lg-2"></div>
                                    <%}%>
                                    <%if(productRequest.status !== "REJECTED"){%>
                                    <a class="col-lg-5 badge badge-danger"
                                        href="/admin/product-requests/<%=productRequest._id%>/change-status?status=REJECTED">
                                        <i class="mdi mdi-close-circle"></i>
                                    </a>
                                    <%}%>
                                </div>
                            </td>
                        </tr>
                        <% }) %>
                                    </tbody>
                                    </table>
                                </div>
                    </div>
                </div>
            </div>
        </div>
        <%- include('../../includes/footer.ejs') %>