<%- include('../../includes/header.ejs') %>
<%- include('../../includes/navbar.ejs') %>
<div class="main-panel">
    <div class="content-wrapper">
        <div class="page-header">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/admin/products">Products</a></li>
                    <li class="breadcrumb-item active" aria-current="page">View All Products</li>
                </ol>
            </nav>
        </div>
        <div class="row">
            <div class="col-lg-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <%if(messages.success){%>
                        <div class="alert alert-success alert-dismissible">
                            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                            <strong>Success:</strong> <%- messages.success %>
                        </div>
                        <%}%>
                        <a href="/admin/products/new" class="btn btn-primary btn-block">Add A Product</a>
                        <br>
                        <h1 class="card-title">All Products</h1>
                        <table class="table table-bordered" id="order-listing">
                            <thead>
                                <tr>
                                    <th> # </th>
                                    <th> Img </th>
                                    <th> Product Name </th>
                                    <th> Category </th>
                                    <th> Price </th>
                                    <!-- <th> Operations </th> -->
                                </tr>
                            </thead>
                            <tbody>
                            <% products.forEach(function(product, key){ %>
                        <tr>
                            <td> <%=key+1 %> </td>
                            <td><img src="<%=product.mainPicture%>" alt="<%=product.name%>"></td>
                            <td><%=product.name%></td>
                            <%if(product.category !== null){%>
                            <td><%=product.category.name%></td>
                            <%} else {%>
                            <td style="color: red;">Category was deleted</td>
                            <%}%>
                            <td> <%=product.price%> <%=product.currency%> </td>
                            <!-- <td>
                                <a class="badge badge-warning" href="/admin/categories/modify/<%=product._id%>">
                                    <i class="mdi mdi-book-open-page-variant"></i>
                                </a>
                                <a class="badge badge-danger" href="/admin/categories/remove/<%=product._id%>">
                                    <i class="mdi mdi-block-helper"></i>
                                </a>
                                <br><br>
                            </td> -->
                        </tr>
                        <% }) %>
                        </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%- include('../../includes/footer.ejs') %>